@using ProblemSolving.Models;
@model GetMonthNameByNumber

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h3>Convert Number to Corresponding Month Name</h3>
    <div>
        <p><span>Create a function that takes a number (from 1 to 12) and returns its corresponding month name as a string. For example, if you're given </span><code>3</code><span> as input, your function should return </span><code>"March"</code><span>, because March is the 3rd month.</span></p>
        <table>
            <thead>
                <tr>
                    <th><span>Number</span></th>
                    <th><span>Month Name</span></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><span>1</span></td>
                    <td><span>January</span></td>
                </tr>
                <tr>
                    <td><span>2</span></td>
                    <td><span>February</span></td>
                </tr>
                <tr>
                    <td><span>3</span></td>
                    <td><span>March</span></td>
                </tr>
                <tr>
                    <td><span>4</span></td>
                    <td><span>April</span></td>
                </tr>
                <tr>
                    <td><span>5</span></td>
                    <td><span>May</span></td>
                </tr>
                <tr>
                    <td><span>6</span></td>
                    <td><span>June</span></td>
                </tr>
                <tr>
                    <td><span>7</span></td>
                    <td><span>July</span></td>
                </tr>
                <tr>
                    <td><span>8</span></td>
                    <td><span>August</span></td>
                </tr>
                <tr>
                    <td><span>9</span></td>
                    <td><span>September</span></td>
                </tr>
                <tr>
                    <td><span>10</span></td>
                    <td><span>October</span></td>
                </tr>
                <tr>
                    <td><span>11</span></td>
                    <td><span>November</span></td>
                </tr>
                <tr>
                    <td><span>12</span></td>
                    <td><span>December</span></td>
                </tr>
            </tbody>
        </table>
        <h3><span>Examples</span></h3>
        <span>MonthName(3) ➞ "March"</span><br />
        <span>MonthName(12) ➞ "December"</span><br />
        <span>MonthName(6) ➞ "June"</span><br />
    </div>
    <div style="margin-top:20px;">
        @using (Html.BeginForm("Index", "GetMonthNameByNumber", FormMethod.Post, new { @id = "myform" }))
        {
            <div class="form-group">
                <label for="monthNumber">Please enter month number below </label>
                @Html.TextBoxFor(m => m.month, null, new { @class = "form-control", @id = "monthNumber" })
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-default" onclick="clearform()">Clear</button>
        }
    </div>

    <!-- Modal Result HTML -->
    <div id="ResultModal" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    @if (!string.IsNullOrWhiteSpace(Model.fullMonthName) || !string.IsNullOrWhiteSpace(Model.fullMonthName))
                    {
                        <div id="result">
                            <div class="form-group">
                                <label>See result below </label>
                                @if (!string.IsNullOrWhiteSpace(Model.fullMonthName))
                                {
                                    <div>Full Month : <code>@Model.fullMonthName</code></div>
                                }
                                @if (!string.IsNullOrWhiteSpace(Model.fullMonthName))
                                {
                                    <div>Abbreviated Month : <code>@Model.AbbreviatedMonthName</code></div>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            @if (!string.IsNullOrWhiteSpace(Model.fullMonthName) || !string.IsNullOrWhiteSpace(Model.fullMonthName))
            {
                <text>$("#ResultModal").modal('show');</text>
            }
            $("#collapseMenu").addClass("in");
            $(".list-group-item").removeClass("active-problem");
            $("#GetMonthNameByNumber").addClass("active-problem");
            // Validate monthNumber
            $('#myform').validate({ // initialize the plugin
                errorClass: "error fail-alert",
                validClass: "valid success-alert",
                rules: {
                    month: {
                        required: true,
                        min: 1,
                        max: 12,
                        number: true,
                    }
                },
                messages: {
                    month: {
                        min: "Please enter month value between 1 to 12.",
                        max: "Please enter month value between 1 to 12."
                    },
                }
            });
        });

        function clearform() {
            $("#monthNumber").val(0);
            $("#result").html("");
        }
    </script>
}